body {
	background-image: url('../img/outerspace.jpg');
	font-size: 200%;
}

.z-form {
	background-color: blue;
	margin-left: auto;
	margin-right: auto;
	height: 35%;
	margin-top: 70px;
	padding: 40px 40px;
	border-radius: 25px;
	text-align: center;
}

.z-form h1 {
	color: white;
	font-family: 'Farsan', cursive;
	font-size: 60pt;
}

input {
	font-size: 200%;
	text-align: center;
}

#icon {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#result {
	text-align: center;
	display: none;
	padding: 20px 20px;
	font-family: "Coming Soon", cursive;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: black;
	font-size: 200%;
}

.btn {
	font-size: 160%;
}

.z-output {
	width: 500px;
}

