body {
  background-color: #f2f2f2;
  text-align: center;
}

#quiz-header {
  color: orange;
  font-size: 30pt;
}

.questionaire {
  margin-left: 10px;
  margin-right: 10px;
}

button {
  display: block;
  margin: 20px auto 20px auto;
}

.title {
	text-align: center;
	font-size: 50px;
}

.correct {
	color: blue;
}

.incorrect {
	color: red;
}

.input-group-addon:hover {
  background-color: pink;
}

.btn {
  margin-top: 25px;
}

.results {
  border: 1px solid black;
  margin-top: 20px;
}