/*==================================================
									Sitewide Styles
==================================================*/

* {
/*  • the asterik selector "*" selects all elements of your page */

	color: #000;
/*  • the "color:" property changes the color of the specified selection.
			In this case, the entire page's text.

 		• "#000" is a value, in this case, it's a short-form hex-code for the color black */

	font-family: helvetica;
/* 	• the "font-family:" property allows you to specify a font.
			We've selected "helvetica" as a value for "font-family:"
			as closely resembles Google's page fonts  */
}

body {
	/* the "body" selector selects the <body> tag of your HTML code */

	background: none repeat scroll 0 0 #fff;
	/* the "background:" property allows for manipulation of the background.
 		 Below are some values:

	• "none" 	 specifies that no background will be displayed. This is by default.
	• "repeat" indicates that the background image will be repeated vertically and horizontally
	• "scroll" means that the background scrolls with the rest of the page
	• "0 0"    are values for the x & y coordinates of the background's position
	• "#fff"   is a short-form hex-code for white 															*/

    color: #222;
	/* here the "color:" property is assigned a short-form hex-code value that gives
	all our text within the body elements of our HTML a light black color */

    margin:0;
  /* the "margin:" property shown here is given a value of 0, effecting our entire
	<body> element (and what's nested inside) in HTML to have no indentation  */
}

a {
	/* the "a:" selector effects all <a> (anchor) elements in their respective
	css linked html documents "*/

	color:#222;
	/* the color property here will change our links to an almost dark black */


	text-decoration: none;
/* when we apply a "text-decoration:" property, we're adding adjustments to
	 the text indicated by the selector. The value of "none" shown here, removes
	 the underlining of a hyper-linked text  */
}


a:hover {
	/* the "a:hover" selector will select and style all anchor texts <a>
		 on hover by the declared rules below, thus causing a stylized effect */

	color: #222;
	/* the "color:" property here will change our
		 anchor text links to a dark black on hover */

	text-decoration: underline;
	/* the "text-decoration:" property here will give our
		 anchor text links an underline on hover */
}

a.button:hover {
	/* the "a.button:hover" selects all anchor tags
		 that have a class of button and are hovered on */

	text-decoration: none;
	/* like above, our text-decoration: property will give our
			anchor texts no style (no underlining, in this case) on hover */
}
/*==================================================
							Top Section - Navigation
==================================================*/
.top-navigation {
	float:right;
	margin-right: 25px;
}
/* our selector here encompasses elements with the class of top-navigation
	 We are giving some values to it:

	• "float: right" 			 Means that our class will be pushed to the right of the site
	• "margin-right: 25px" Assigns 25 pixels of space to the right margin of the class

*/

/*select any elements with a class of top-navigation and find any li tags inside those*/
.top-navigation li{
	list-style: none;
	display: inline-block;
	text-align: right;
	padding: 5px 10px 0 0;
	vertical-align: bottom;
	margin: 5px 5px 0 0;
	font-size: 13px;
}
/* our selector here encompasses elements with the class of top-navigation
	 and find any <li> elements listed inside

	 We are assigning the following values and properties to our top-navigation class
	 that will effect our list item elements:

	• "list-style: none"				Indicates that we're leaving no special markers (dots, squares) as points of our list items
	• "display: inline-block" 	Assigns 25 pixels of space to the right margin of the class
	• "text-align: right"				Aligns our text to the right side of the page
	• "padding: 5px 10px 0 0"		Creates a padding space around our <li> elements that effects the top, right, bottom, left areas
	• "vertical-align: bottom"	Set where the alignment of our element, in this case, our list
	• "margin: 5px 5px 0 0"			Margin is the outerspace outside the border of our element, effecting the top, right, bottom, left areas
	• "font-size: 13px"					Adjusts the size of our fonts to our <li> elements					*/


.fa {
	font-size: 20px;
	vertical-align: top;
	opacity: 0.7;
	cursor: default;
}
/* the font awesome class (.fa) is selected and this manipulated. This will
	manipulate our design of the icons presented in the font awesome class

	Below, we have our properties: and-their-values

	font-size: 20px					This changes the size of our font awesome icons (they are fonts, after all)
	vertical-align: top			This aligns our font awesome icons to the top of the page
	opacity: 0.7						We're giving our font awesome icons some transparency, they're are 70% solid		*/


.fa:hover {
	opacity: 1.0;
}
/* the effected font-awesome icons, which are in themselves a class, will be altered
	 by us hovering upon them. In this case, once we change their opacity to 1.0 once
	 hovered upon. Originally, we set their opacity in passive mode to a 0.7 */


.share-button {
	background-color: #f2f2f2;
	padding:7px 15px;
	cursor: default;
	position: relative;
    top: -3px;
}

/* select any elements with a class of share-button

background-color: #f2f2f2;
padding:7px 15px;							Creates a padding for the top portion and right portion
cursor: default;							When we place our cursor over the share button, our cursor remains an arrow and doesn't transform
position: relative;						Specifies a type of positioning method for our element, in this case, top: -3px adds -3px to our top portion
top: -3px;										Creates a space related to our top position of the element

*/

/*select any elements with a class of share-button that is hovered on*/
.share-button:hover {
	background-color: #E1E1E1;
}

/*select any elements with a class of profile-img*/
.profile-img {
	border-radius: 25px;
	height: 32px;
    width: 32px;
    position: relative;
    top: 5px;
}
/*==================================================
	Middle Section - Search Box
==================================================*/
/*select any elements with a class of search-box*/
.search-box {
	position: absolute;
	margin-top:75px;
	width:100%;
}
/*select any elements with a class of search-box and then find any img tags inside*/
.search-box img {
	padding:142px 0 24px 0;
	display: block;
	margin:0 auto;
}
/*select any elements with a class of search-box and then find any input tags inside*/
.search-box input {
	width: 600px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #d9d9d9;
    font-size: 16px;
    border-radius: 5px;
    display: block;
}
/*select any elements with a class of search-box and then find any input tags inside that are currently focused*/
.search-box input:focus {
	border-color: #f5f5f5;
}
/*select any elements with a class of search-buttons*/
.search-buttons  {
	text-align: center;
	padding-left: 0;
}
/*select any elements with a class of search-buttons and find all button tags inside*/
.search-buttons button{
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 27px;
    margin: 17px 6px;
    padding: 0 12px;
    display: inline-block;
    cursor: pointer;
}
/*select any elements with a class of search-buttons and find all button tags inside that are hovered on*/
.search-button button:hover{
	background-color:#f8f8f8;
	border: 1px solid #c6c6c6;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    color:#333;
}
/*==================================================
	Bottom Section - Site Links
==================================================*/
/*select any elements with a class of button-site-links*/
.bottom-site-links {
	bottom: 0 !important;
	position: absolute;
	width:100%;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}
/*select any elements with a class of left-site-links*/
.left-site-links,
/*and select any elements with a class of right-site-links*/
.right-site-links {
	margin: 0;
}
/*select any elements with a class of left-site-links*/
.left-site-links {
	float:left;
	padding-left:20px;
}
/*select any elements with a class of right-site-links*/
.right-site-links {
	float:right;
	padding-right:10px;
}
/*select any elements with a class of left-site-links and find all li tags inside*/
.left-site-links li,
/*and select any elements with a class of right-site-links and find all li tags inside*/
.right-site-links li{
	list-style: none;
	display: inline;
	line-height: 40px;
}
/*select any elements with a class of right-site-links and find all li tags inside then the 1st anchor tags inside*/
.right-site-links li a:first-child {
	padding-right:8px;
}
/*select any elements with a class of left-site-links and find all li tags inside then the 2nd anchor tags inside*/
.left-site-links li:nth-child(2),
/*and select any elements with a class of left-site-links and find all li tags inside then the 3rd anchor tags inside*/
.left-site-links li:nth-child(3) {
	margin-left:7px;
}
/*select any elements with a class of left-site-links and find all li tags inside then all the anchor tags inside*/
.left-site-links li a,
/*and select any elements with a class of right-site-links and find all li tags inside then all the anchor tags inside*/
.right-site-links li a {
	color: #666;
    margin: 2px 10px 0;
    letter-spacing: 0.1px;
    font-size: 14px;
}
